In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# kelompokkan produk terjual berdasar nama toko
# urutkan dari penjualan produk terbanyak
# kelompokkan views berdasarkan nama toko
# urutkan dari views terbanyak

In [2]:
df = pd.read_csv('data-bersih-renot11-4gb.csv')
pd.options.display.max_rows=10
df.sort_values('Sold', ascending=False)

,Product Name,Price,Category,Seller Name,Location,Product URL,Sold,Views,Reviews,Rating
133,Xiaomi Redmi Note 11 4/128 GB Garansi Resmi - ...,2481000,Android OS,Gudang-HP,Jakarta Pusat,https://www.tokopedia.com/gudang-hp/xiaomi-red...,553,17696,123,5.0
165,Redmi Note 11 4GB 128GB Smartphone - Graphite ...,2499000,Android OS,Xiaomi Official Store,Jakarta Utara,https://www.tokopedia.com/xiaomi/redmi-note-11...,499,66017,263,4.9
102,XIAOMI REDMI NOTE 11 4/128 GB GARANSI RESMI - ...,2469000,Android OS,Q-Store Pedia,Jakarta Pusat,https://www.tokopedia.com/q-storepedia/xiaomi-...,348,3208,66,5.0
99,Redmi Note 11 4/128 GB Garansi Resmi,2460000,Android OS,Divergent True,Kab. Mojokerto,https://www.tokopedia.com/divergenttrue/redmi-...,335,1680,71,5.0
43,Xiaomi Redmi Note 11 4/128 GB Garansi Resmi - ...,2434950,Android OS,Erwin Nugrawati,Kab. Ponorogo,https://www.tokopedia.com/erwinnugrawati/xiaom...,312,1217,64,5.0
...,...,...,...,...,...,...,...,...,...,...
177,REDMI NOTE 11 4/128 GB SEGEL. ORIGINAL. GARANS...,2510000,Android OS,AxCell Store,Kota Yogyakarta,https://www.tokopedia.com/axcellstore-1/redmi-...,0,2,0,0.0
179,Redmi Note 11 4GB+128GB - Random,2514000,Android OS,PARASING,Kab. Kulon Progo,https://www.tokopedia.com/parasing/redmi-note-...,0,9,0,0.0
181,Xiaomi Redmi Note 11 - 4GB/128GB - Abu-abu,2520000,Android OS,Komunika Sell,Jakarta Selatan,https://www.tokopedia.com/komunikasell/xiaomi-...,0,2,0,0.0
182,Redmi Note 11 4/128 Gb Garansi Resmi,2520000,Android OS,Arizki Phone,Kab. Bantul,https://www.tokopedia.com/arizki-phone/redmi-n...,0,17,0,0.0
287,SALE REDMI NOTE 11 4/128 GARANSI RESMI NEW,4159000,Android OS,angel toko2,Jakarta Barat,https://www.tokopedia.com/angeltoko2/sale-redm...,0,0,0,0.0

In [16]:
# cek apa ada toko yang menjual produk yang sama
# karena semua produk pada dasarnya adalah barang yang sama, maka tinggal lihat duplicated seller name

df['Seller Name'].duplicated()

0      False
1       True
2      False
3      False
4      False
       ...
283     True
284    False
285    False
286    False
287    False
Name: Seller Name, Length: 288, dtype: bool

In [18]:
# cek lebih detail

df.iloc[:2]

,Product Name,Price,Category,Seller Name,Location,Product URL,Sold,Views,Reviews,Rating
282,XIAOMI REDMI NOTE 11 RAM 4GB-128GB Snapdragon 680 GARANSI RESMI TAM,3218000,Android OS,damario -,Jakarta Utara,https://www.tokopedia.com/damario-/xiaomi-redmi-note-11-ram-4gb-128gb-snapdragon-680-garansi-resmi-tam,0,0,0,0.0
283,Xiaomi Redmi Note 11 Ram 4Gb+128Gb Nfc Garansi Resmi,3275000,Android OS,damario -,Jakarta Utara,https://www.tokopedia.com/damario-/xiaomi-redmi-note-11-ram-4gb-128gb-nfc-garansi-resmi,0,0,0,0.0

In [19]:
df.iloc[282:284]

,Product Name,Price,Category,Seller Name,Location,Product URL,Sold,Views,Reviews,Rating
282,XIAOMI REDMI NOTE 11 RAM 4GB-128GB Snapdragon 680 GARANSI RESMI TAM,3218000,Android OS,damario -,Jakarta Utara,https://www.tokopedia.com/damario-/xiaomi-redmi-note-11-ram-4gb-128gb-snapdragon-680-garansi-resmi-tam,0,0,0,0.0
283,Xiaomi Redmi Note 11 Ram 4Gb+128Gb Nfc Garansi Resmi,3275000,Android OS,damario -,Jakarta Utara,https://www.tokopedia.com/damario-/xiaomi-redmi-note-11-ram-4gb-128gb-nfc-garansi-resmi,0,0,0,0.0

In [21]:
# dari dataset di atas terlihat terdapat toko yang sama menjual produk yang sama, tapi dengan nama produk dan harga yang sedikit beda

pd.options.display.max_colwidth=1000
pd.options.display.max_rows=10

groupby_seller = df.groupby(by=['Seller Name']).sum()
groupby_seller.sort_values('Sold', ascending=False)

                         Price  Sold  Views  Reviews  Rating
Seller Name
Gudang-HP              2481000   553  17696      123     5.0
Xiaomi Official Store  2499000   499  66017      263     4.9
Q-Store Pedia          2469000   348   3208       66     5.0
Divergent True         2460000   335   1680       71     5.0
Erwin Nugrawati        2434950   312   1217       64     5.0
...                        ...   ...    ...      ...     ...
Novaldi olshop         2650000     0     14        0     0.0
OkeShop_Surabaya       2539000     0    156        0     0.0
AND PUT                2899000     0     17        0     0.0
P.S store5             2599000     0      2        0     0.0
Ole Store JKT          2526000     0      2        0     0.0

[282 rows x 5 columns]

In [38]:
# cek apa ada toko yang menjual produk yang sama
pd.options.display.max_rows=100
groupby_seller.duplicated().tail(20)

Seller Name
niwstored              False
nur.shila store        False
prelovedbarang17        True
rafanizanstoree        False
sekti official         False
show gadget            False
sinar_storee           False
sumber shanum          False
surya perdana 3        False
sw mart kediri         False
tamimatu shop          False
toko_ legend           False
tokolasvegas            True
topsellsurabaya        False
ucell cempaka          False
uncharted_sply         False
vERA W Shop            False
vintagest              False
vjstoree               False
www-AnugrahJaya-com    False
dtype: bool

In [43]:
# kok masih ada yg TRUE?
groupby_seller.tail(20)

                       Price  Sold  Views  Reviews  Rating
Seller Name
niwstored            2410000     0     74        0     0.0
nur.shila store      2598999    99    259        8     5.0
prelovedbarang17     2650000     0      2        0     0.0
rafanizanstoree      2549000     0     14        0     0.0
sekti official       2899000     0     12        0     0.0
show gadget          2455000     0     99        0     0.0
sinar_storee         2449000     5    252        2     5.0
sumber shanum        2425000   147    492       31     5.0
surya perdana 3      2650000   151     48       17     5.0
sw mart kediri       2485000    13    275        3     5.0
tamimatu shop        2480000     1     35        0     0.0
toko_ legend         2499000     0      4        0     0.0
tokolasvegas         2600000     0      0        0     0.0
topsellsurabaya      2599000    16    632        6     5.0
ucell cempaka        2635000     1    249        1     5.0
uncharted_sply       2425000    69    906       17     5.0
vERA W Shop          3114000     0      1        0     0.0
vintagest            2475000     0     12        0     0.0
vjstoree             2409000    33    935        6     5.0
www-AnugrahJaya-com  2435000     5     67        1     5.0

In [41]:
groupby_seller.duplicated().tail(20).index

Index(['niwstored', 'nur.shila store', 'prelovedbarang17', 'rafanizanstoree',
       'sekti official', 'show gadget', 'sinar_storee', 'sumber shanum',
       'surya perdana 3', 'sw mart kediri', 'tamimatu shop', 'toko_ legend',
       'tokolasvegas', 'topsellsurabaya', 'ucell cempaka', 'uncharted_sply',
       'vERA W Shop', 'vintagest', 'vjstoree', 'www-AnugrahJaya-com'],
      dtype='object', name='Seller Name')

In [47]:
# cek lebih detail
groupby_seller.iloc[274]
groupby_seller.loc[['tokolasvegas']]

                Price  Sold  Views  Reviews  Rating
Seller Name
tokolasvegas  2600000     0      0        0     0.0

In [48]:
groupby_seller.loc['toko_ legend']

Price      2499000.0
Sold             0.0
Views            4.0
Reviews          0.0
Rating           0.0
Name: toko_ legend, dtype: float64